.mind-elixir {
  --gap: 30px; // child node horizontal gap, it will be updated at instance initialization

  // overwrited by js
  --root-radius: 30px;
  --main-radius: 20px;
  --root-color: #ffffff;
  --root-bgcolor: #4c4f69;
  --main-color: #444446;
  --main-bgcolor: #ffffff;
  --topic-padding: 3px;
  --color: #777777;
  --bgcolor: #f6f6f6;

  --panel-color: #444446;
  --panel-bgcolor: #ffffff;
  // ---

  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC,
    WenQuanYi Micro Hei, sans-serif;
  .hyper-link {
    text-decoration: none;
  }
}

.map-container {
  user-select: none;
  height: 100%;
  width: 100%;
  overflow: scroll;
  font-size: 15px;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .selected {
    box-shadow: 0 0 0 3px #4dc4ff;
  }
  .lhs {
    direction: rtl;
    me-tpc {
      direction: ltr;
    }
  }
  .map-canvas {
    height: 20000px;
    width: 20000px;
    position: relative;
    user-select: none;
    transition: transform 0.3s;
    transform: scale(1);
    background-color: var(--bgcolor);
    me-nodes {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width: fit-content;
    }
    me-root {
      position: relative;
      me-tpc {
        display: block;
        font-size: 25px;
        color: var(--root-color);
        padding: 10px var(--gap);
        border-radius: var(--root-radius);
        white-space: pre-wrap;
        background-color: var(--root-bgcolor);
        #input-box {
          padding: 10px var(--gap);
        }
      }
    }
  }
  me-main {
    // main node
    & > me-wrapper {
      position: relative; // make subline svg's offsetParent to be the main node
      margin: 20px 65px;
      & > me-parent {
        margin: var(--gap);
        background-color: var(--main-bgcolor);
        border: 2px solid var(--main-color);
        border-radius: var(--main-radius);
        padding: 0;
        & > me-tpc {
          border-radius: var(--main-radius);
          color: var(--main-color);
          padding: 8px var(--gap);
          #input-box {
            padding: 8px var(--gap);
          }
        }
      }
    }
  }
  me-wrapper {
    display: block;
    pointer-events: none;
    width: fit-content;
    // position: relative;
  }
  me-children,
  me-parent {
    display: inline-block;
    vertical-align: middle;
  }
  me-parent {
    position: relative; // for locating expand button
    cursor: pointer;
    padding: 6px var(--gap);
    margin-top: 10px;
    me-tpc {
      position: relative;
      display: block;
      border-radius: 3px;
      color: var(--color);
      pointer-events: all;
      max-width: 800px;
      white-space: pre-wrap;
      padding: var(--topic-padding);
      line-height: 1.2; // assure the line-height consistency between different languages
      & > div,
      & > span,
      & > img {
        pointer-events: none;
      }
      // drag preview
      .insert-preview {
        position: absolute;
        width: 100%;
        left: 0px;
        z-index: 9;
      }
      .show {
        background: #7ad5ff;
        pointer-events: none; // 不加会识别为不可移动
        opacity: 0.7;
      }
      .before {
        height: 14px;
        top: -14px;
      }
      .in {
        height: 100%;
        top: 0px;
      }
      .after {
        height: 14px;
        bottom: -14px;
      }
    }
    me-epd {
      position: absolute;
      height: 18px;
      width: 18px;
      opacity: 0.8;
      background-image: url('./icons/add-circle.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      pointer-events: all;
      z-index: 9;
      &.minus {
        background-image: url('./icons/minus-circle.svg') !important;
        transition: opacity 0.3s;
        opacity: 0;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  // iconfont
  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
  .lines,
  .subLines,
  .topiclinks,
  .linkcontroller {
    position: absolute;
    height: 102%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .topiclinks,
  .linkcontroller {
    pointer-events: none;
    g {
      pointer-events: all;
    }
  }
  .lines,
  .subLines {
    pointer-events: none;
    z-index: -1;
  }

  .topiclinks,
  .linkcontroller {
    * {
      z-index: 100;
    }
  }
  .topiclinks {
    g {
      cursor: pointer;
    }
  }
  #input-box {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--topic-padding);
    color: var(--color);
    background-color: var(--bgcolor);
    width: max-content; // let words expand the div and keep max length at the same time
    max-width: 800px;
    z-index: 11;
    direction: ltr;
    user-select: auto;
  }

  me-tpc > img {
    pointer-events: none;
    display: block;
    margin-top: 8px;
  }

  .circle {
    position: absolute;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 100%;
    background: #aaa;
    cursor: pointer;
  }

  .tags {
    direction: ltr;
    span {
      display: inline-block;
      border-radius: 3px;
      padding: 2px 4px;
      background: #d6f0f8;
      color: #276f86;
      margin: 0px;
      font-size: 12px;
      line-height: 16px;
      margin-right: 3px;
      margin-top: 2px;
    }
  }
  .icons {
    display: inline-block;
    direction: ltr;
    margin-right: 10px;
  }

  .mind-elixir-ghost {
    position: fixed;
    top: -100%;
    left: -100%;
    box-sizing: content-box;
    opacity: 0.5;
    background-color: #f6f6f6;
    max-width: 200px;
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 8px 16px;
    border-radius: 6px;
    border: #666666 2px solid;
  }
}
